<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark  bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Bienvenid@ {{usuario}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/empleados">Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/juego">Juego</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="cursor: pointer;" aria-current="page" (click)="salir()">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <br>
  <div class="alert alert-warning" role="alert">
    No tiene permiso para esta pagina
  </div>

</div>